
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(5, 134, 5);
    border: 1px solid green;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    color: #fff;
}

.animal-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}